# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
# Database Configuration
DB_USER=Kalkisena
DB_PASSWORD=Kalkisena@123
DB_NAME=Kalkisena
DB_HOST=localhost
DB_PORT=5432

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_EXPIRES_IN=7d

# Google OAuth Configuration
GOOGLE_CLIENT_ID=53395957494-ec3tep437qk3mfhpevjmg3p1hdgmr29s.apps.googleusercontent.com

# Email Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=kalkidrivetest@gmail.com
SMTP_PASSWORD=okvqgfgvdsiclvws
APP_NAME=Kalkisena

# Nepal Payment Gateway Configuration
NEPAL_PAYMENT_MERCHANT_ID=7582
NEPAL_PAYMENT_MERCHANT_NAME=WebStudioNepal
NEPAL_PAYMENT_API_USERNAME=WebStudioNepal
NEPAL_PAYMENT_API_PASSWORD=WebStudioNepal#876
NEPAL_PAYMENT_SECRET_KEY=WebStudiol$KEY12
NEPAL_PAYMENT_BASE_URL=https://apisandbox.nepalpayment.com
NEPAL_PAYMENT_GATEWAY_URL=https://gatewaysandbox.nepalpayment.com/Payment/Index
NEPAL_PAYMENT_RESPONSE_URL=https://yourdomain.com/payment-response
APP_URL=http://localhost:3000

# AWS S3 Configuration
S3_REGION=your-s3-region
S3_ACCESS_KEY=your-s3-access-key
S3_SECRET_KEY=your-s3-secret-key
S3_BUCKET_NAME=your-s3-bucket-name